<main class="container">
    <div class="row">    
        
        <section class="col-12 dishReviews">
            <h2>Dish Reviews</h2>
            <p>Reviewed Dishes will go here</p>
        </section>



    </div>
</main>
