<nav class="jumbotron jumbotron-fluid">
  <!-- Open side navigation for smaller windows -->
  <!-- <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  -->
  <h1 class="display-4">Welcome to Foodies Paradise!</h1>
  <p class="lead">Add reviews for all your favorite dishes</p>
</nav>