<!-- {{> header}} -->
<nav class="jumbotron jumbotron-fluid">
  <!-- Open side navigation for smaller windows -->
  <!-- <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  -->
  <h1 class="display-4">Welcome to Foodies Paradise!</h1>
  <p class="lead">Add reviews for all your favorite dishes</p>
</nav>

<!-- Left Navbar -->
<nav class="sidenav">
  <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> -->
  <h3 id="searchHeader">Search for a restaurant</h3>
  <!-- <a href="#">About</a> -->

  <!-- Search by Restaurant -->
  <div id="restaurantSearch" class="input-group mb-3">
    <input type="text" class="form-control" placeholder="restaurant name" aria-label="restaurant name"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-dark" type="button" id="button-addon2">Button</button>
    </div>
  </div>

  <hr>

  <h3 id="cuisineHeader">Search by Cuisine Type</h3>
  <div class="cuisine form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    <label class="form-check-label" for="defaultCheck1">
      Italian
    </label>
  </div>
  <div class="cuisine form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck!">
    <label class="form-check-label" for="defaultCheck2">
      Chinese
    </label>
  </div>
  <div class="cuisine form-check">
    <input class="form-check-input" type="checkbox" value="" id="defaultCheck!">
    <label class="form-check-label" for="defaultCheck2">
      American
    </label>
  </div>


</nav>