<!-- {{> header}} -->
  <nav class="jumbotron jumbotron-fluid">
    <!-- Open side navigation for smaller windows -->
    <!-- <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  -->
    <h1 class="display-4">Welcome to Foodies Paradise!</h1>
    <p class="lead">Add reviews for all your favorite dishes</p>
  </nav>

  <!-- Left Navbar -->
  <nav class="sidenav">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> -->
    <h3 id="searchHeader">Search for a restaurant</h3>
      <!-- <a href="#">About</a> -->

      <!-- Search by Restaurant -->
      <!-- <div class="input-group mb-3">
        <input type="text" id="restaurantSearch" class="form-control" placeholder="restaurant name" aria-label="restaurant name" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button" id="button-addon2">Button</button>
        </div>
      </div> -->

      <!-- Search by Dish Type -->



  </nav>
