<!-- Left Navbar -->

<nav id="sidebar">
    
    <!-- Search by Restaurant -->
    <h4 class="searchHeader">Search by Restaurant</h4>
    <form class="restaurantSearch">
        <div class="input-group mb-3">
            <input type="text" id="restaurant" class="form-control" placeholder="restaurant name" aria-label="restaurant name" aria-describedby="button-addon2">
            <input type="text" id="resLocation" class="form-control" placeholder="location" aria-label="restaurant location" aria-describedby="button-addon2">
            
            <div class="input-group-append">
                <button class="btn btn-dark restaurantBtn" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <!-- Search by Dish -->
    <h4 class="searchHeader">Search by Dish</h4>
    <form class="dishSearch">
        <div class="input-group mb-3">
            <input type="text" id="dish" class="form-control" placeholder="dish name" aria-label="dish name" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-dark dishBtn" type="submit">Submit</button>
            </div>
        </div>
    </form>

    <!-- Search by Cuisine Type -->
    {{!-- <form>
        <h3 id="cuisineHeader">Search by Cuisine Type</h3>
        <div class="cuisine form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            Italian
            </label>
        </div>
        <div class="cuisine form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck!">
            <label class="form-check-label" for="defaultCheck2">
            Chinese
            </label>
        </div>
        <div class="cuisine form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck!">
            <label class="form-check-label" for="defaultCheck2">
            American
            </label>
        </div>

        <button type="submit" id="cuisineSubmit" class="btn btn-dark">Submit</button>
    </form> --}}


</nav>