<!-- Left Navbar -->
<nav class="sidenav">
    <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> -->
    <h3 id="searchHeader">Search for a restaurant</h3>

    <!-- Search by Restaurant -->
    <form class="restaurantSearch">
        <div class="input-group mb-3">
            <input type="text" id="restaurant" class="form-control" placeholder="restaurant name" aria-label="restaurant name" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-dark restaurantBtn" type="submit" id="button-addon2">Submit</button>
            </div>
        </div>
    </form>

    <hr>

    <!-- Search by Cuisine Type -->
    {{!-- <form>
        <h3 id="cuisineHeader">Search by Cuisine Type</h3>
        <div class="cuisine form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
            Italian
            </label>
        </div>
        <div class="cuisine form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck!">
            <label class="form-check-label" for="defaultCheck2">
            Chinese
            </label>
        </div>
        <div class="cuisine form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck!">
            <label class="form-check-label" for="defaultCheck2">
            American
            </label>
        </div>

        <button type="submit" id="cuisineSubmit" class="btn btn-dark">Submit</button>
    </form> --}}


</nav>