<div class="container">
    <div class="row">
    <!-- Display the info with the selected restaurant -->
        <section class="col-12 restaurantInfo">
            <h2>Restaurant</h2>
            <p>restaurant info will go here</p>

            {{!-- Add restaurant info from API --}}



        </section>
    </div>
</div>