{{!--  * Setup the `index.handlebars` to have the template that Handlebars can render onto.
    * Create a button in `index.handlebars` that will submit the user input into the database.
--}}

{{!-- Body --}}
  <main id="main">

    <div class="container">
      <div class="row">
        <!-- Display the info with the selected restaurant -->
        <section class="col-12 restaurantInfo">
          <h2>Restaurant</h2>
          <p>restaurant info will go here</p>
          {{!-- Insert partial --}}
        </section>

        <!--  -->
        <section class="col-12 dishReviews">
          <h2>Dish Reviews</h2>
          <p>Reviewed Dishes will go here</p>
        </section>

        <section class="col-12 newReview">
          <h2>Add New Review</h2>
          <p>User can add new dish review here</p>
        </section>

      </div>
    </div>


  </main>