{{!--  * Setup the `index.handlebars` to have the template that Handlebars can render onto.
    * Create a button in `index.handlebars` that will submit the user input into the database.
--}}

  {{!-- Page content --}}

<main id="main">

  <div class="container">
    <div class="row">
      {{!-- Form for user to add new dish reviews --}}
      {{!-- Populate this html when button is clicked --}}
      {{!-- {{> newDishForm }} --}}
      <div class="col-md-9 col-7"></div>
      <button class="col-md-2 col-5 btn btn-dark addReviewBtn" type="button" id="">Add Review</button>


      <!-- Display the info with the selected restaurant -->
      {{!-- {{> restaurantInfo }} --}}

      {{!-- Show dish reviews for selected restaurant --}}
      {{!-- {{> dishReviews}} --}}


    </div>
  </div>

</main>


