<main id="newDishForm">
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8"></div>
                    <button class="col-md-2 col-sm-4 btn btn-dark backBtn" type="button" id="button-addon2">Go
                        Back</button>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="col-lg-2"></div>
            <section class="col-lg-8 col-12 newReview">
                <h2>Add a Dish Review</h2>
                <hr>

                <form action="" id="createReview" method="POST">
                    <div class="form-group">
                        {{!-- <label for="newDish">Dish name</label> --}}
                        {{!-- <input type="text" id="newDish" class="form-control" placeholder="Pizza"> --}}
                        <select id="newDish" class="form-control" name="dish">
                            {{#each dishs}}
                            <option value="{{id}}|{{name}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newRestaurant">Restaurant name</label>
                        <input type="text" id="newRestaurant" value="{{restaurantName}}" class="form-control"
                            placeholder="Sizzle Pie">
                    </div>
                    <div class="form-group">
                        <label for="newRating">Rate the Dish (1=Awful; 5=Best Dish Ever)</label>
                        <select id="newRating" class="form-control" name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newComments">Write your review</label>
                        <textarea class="form-control" id="newComments" rows="3" name="comment"></textarea>
                    </div>

                    <button class="col-3 btn btn-dark" type="submit" id="submitReviewBtn">Submit Review</button>
                </form>
            </section>
            <div class="col-lg-2"></div>
        </div>
    </div>

</main>