<main class="showAllReviews">
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8"></div>
                    <button class="col-md-2 col-sm-4 btn btn-dark backBtn" type="button">Go
                        Back</button>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="col-lg-2"></div>
            <section class="col-lg-8 col-12">
                <h2>Dish Reviews</h2>
                <hr>

                {{!-- Show all dish reviews for specified restaurant --}}

                {{!-- <ul>
                    {{#each dish}}
                        <li> {{ }} </li>
                    {{/each}}
                </ul> --}}





            <div class="col-lg-2"></div>
        </div>
    </div>
</main>