<main id="showAllReviews">
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8"></div>
                    <button class="col-md-2 col-sm-4 btn btn-dark backBtn" type="button">Go Back</button>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="col-lg-2"></div>
            <section class="col-lg-8 col-12">
                <h2>Dish Reviews</h2>
                <hr>

                {{!-- Each dish review is displayed here: --}}
                <div class="form-group"> 
                    {{#if dishReviews}}
                    {{#each dishReviews}}
                    <div>
                        <ul>
                            <li class="singleReview">
                                <div class="container">
                                <div class="row">
                                    <h3 class="col-6">Dish: {{name}}</h3>

                                    <div class="col-6">
                                        {{#each reviews}}
                                        <p>
                                            Rating: {{rating}}/5
                                            <br>
                                            Comments: {{comments}}
                                            <br>
                                            {{/each}}
                                        </p>
                                    </div>

                                </div>
                                </div>

                            </li>
                            {{/each}}
                        </ul>

                        {{else}}
                        <h3> No dish reviews yet </h3>
                        {{/if}}
                    </div>
                </div>

            </section> 
        </div>
    </div>
</main>