* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  padding-bottom: 300px;
}
 /* Top Header ------------------------------------------------------------------------------- */
.jumbotron {
  /* width: auto; */
  height: 400px;
  background: url("images/foodHeaderImg.jpg");
  opacity: 75%;
  background-size: cover;
}

h1 {
  text-align: center;
  font-weight: 400;
  text-shadow: 2px 2px black;
  color: white;
}

p.lead {
  margin-top: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
}

/* Side Navbar/Search ----------------------------------------------------------------*/
/* .wrapper {
  display: flex;
  width: 100%;
  align-items: stretch; 
} */

#sidebar {
  /* width: 400px; */
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background-color: #EDF2EF;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

.toggleButton {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

.searchHeader {
  text-align: center;
  padding: 40px 10px 30px 20px;
}

.restaurantSearch, .dishSearch {
  padding: 10px;
}

.cuisine {
  margin-left: 20px;
}

/* Main Content -----------------------------------------------------------------------------*/
#content {
  padding: 0px 10px;
  transition: margin-left .5s;
  /* border: 1px solid red; */
}

.addReviewBtn, .backBtn {
  margin-bottom: 20px;
}

#restaurantsNearby {
  padding: 30px;
}

/* For each individual restaurant on list of 10 */
.listItem {
  padding-bottom: 60px;
}

p.info {
  margin: 0;
}

a.restaurantLink {
  color: black;
  font-size: small;
}

a.restaurantLink:hover {
  color: rgb(63, 138, 151);
}

.restaurantInfo {
  margin-bottom: 100px;
  border: 1px solid grey;
  border-radius: 8px;
}

#newDishForm {
  padding: 0px 10px;
} 

.dishReviews {
  margin-bottom: 100px;
  border: 1px solid grey;
  border-radius: 8px;
}

.newReview {
  margin-bottom: 100px;
  border: 1px solid grey;
  border-radius: 8px;
}

#submitReviewBtn {
  margin-bottom: 20px;
}

#showAllReviews {
  padding: 0px 10px;
} 

.singleReview {
  list-style-type: none;
  padding: 30px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 8px;
}



/* Footer -------------------------------------------------------------------------------------- */
footer {
    margin-top: 100px;
    width: 100%;
    height: 110px;
    /* text-align: center; */
    line-height: 100px;
    font-size: 15px;
    background-color: #02394A;
}